@import './colors';
@import './typography';

body {
  font-family: $font-face;
  text-align: center;
}

h1 {
  font-size: $title-size;
}

.description {
  font-size: $description-font-size;
}

.video-area {
  background-color: $video-area-color;
  border-style: outset;
  height: $video-area-height;
}

.login-box {
  border-style: outset;
}

.change-pass-box {
  border-style: outset;
}

.title-label {

}

.url-label {

}
